body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#chartdiv {
	display: flex;
	margin: auto;
	height: 800px;
	width: 800px;
	border: 1px solid grey;
}